<form class="form" action="" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" placeholder="Your username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" placeholder="Strong password" name="password">

{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  
<button>Sign in</button>
</form>